@keyframes moveInLeft {
    0% {
        opacity: 0;
        left: -15%;
        filter: blur(10px);
    }
    50% {
        opacity: 0.5;
        left: -8%;
        filter: blur(2px);
    }
    80% {
        left: -3%;
        opacity: 0.9;
        filter: blur(1px);
    }
    95%{
        left: -1%;
    }
    100%{
        opacity: 1;
        left: 0;
        filter: blur(0px);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem); }
    80% {
        transform: translateX(-3rem); }
    100% {
        opacity: 1;
        transform: translate(0); }
}
@keyframes imageBounce {
    0% {
        opacity: 0.8;
        transform: translateY(-10px); 
    }
    30% {
        transform: translateY(-5px); 
    }
    50% {
        transform: translate(0); 
    }
    80% {
        transform: translateY(1.5px); 
    }
    100% {
        opacity: 1;
        transform: translate(0); 
    }
}
::-webkit-scrollbar {
    margin-top: 10px;
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #121212;
}
::-webkit-scrollbar-thumb {
    background: white; 
    border: 3px solid #121212;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(112, 112, 112);
}
h1{
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    z-index: 1;
    position: relative;
    color: white !important;
    font-weight: 900;
}
p{
    max-width: 80%;
    font-weight: 500;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 1;
    position: relative;
    font-size: 0.7vw;
}
.modal-content{
    background-color: #121212 !important;
    border-radius: 0 !important;
    height: 620px !important;
    min-height: 620px !important;
    max-height: 620px !important;
}
.checked {
    color: orange;
}
#icon {
    max-height: 10px;
    margin-left: 20px;
}
.fa{
    max-width: 6px !important;
}
#banner{
    animation: 1s fadeIn ease-in .1s;
    animation-fill-mode: backwards;

    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    float: right;
    list-style-type: none;
    border-radius: 20%;
    display: inline-block;
}
#banner img{
    float: right;
    width: 35vw;
    z-index: 0;
    border-radius: 35%;
    display: block;
}
#banner:after {
    content: "";
    float: right;
    display: inline-block;
    position: absolute;
    display: block;
    width: 35vw;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%,rgba(18, 18, 18, 1) 70%,rgba(18, 18, 18, 1) 100%);
    border-radius: 0;
    top: 1px; 
    right: 15px;
}
#heading{
    font-size: 2vw;
    z-index: 500;
    margin-top: 1vw;
    display: block;
    margin-left: 35px;
    float: left;
    text-align: left;
    color: white;
}
#head-par{
    font-size: 0.7rem;
    color: white !important;
    margin-left: 35px;
    float: left;
    text-align: left;
    padding-bottom: 5%;
}
#top{
    animation: .8s moveInFromLeft ease-in .8s;
    animation-fill-mode: backwards;

    z-index: 999;
    position: relative;
}
ul#list li{
    animation: 1.5 fadeIn ease-in 3s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;

    display: inline-block;
}
ul#list li img{
    width: 10vw;
    margin: 0.2vw;
}
#list{
    position: absolute;
    bottom: -30px;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
}
ul#list li img:hover{
    animation: .5s imageBounce ease-in .2s;
    animation-fill-mode: backwards;
}
.list{
    margin-top: -7%;
    position: relative;
    padding-bottom: 10px;
    top: 50%;
}
.active-image{
    width: 12vw !important;
}
.active-image:hover{
    width: 12vw !important;
}
ul#list li img:hover{
    position: relative;
    z-index: 999999;
    width: 12vw !important;
    transition: 180ms;
}